/* make scrolling smooth */
html {
    scroll-behavior: smooth;
}

/*
get rid of padding & sizing on body so
header is at top
*/
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* add some padding back to rest of page */
main {
    padding: 2vw;
}


/* navbar */
.navbar {
    background-color: #A56C6C;
    color: #B7D6DC;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}



/* logo */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 6vw;
    width: 6vw;
}

.logo h1 {
    font-size: .8em;
    margin-top: 0;
}

/* navigation list */

.navbar-links li {
    list-style: none;
    display: block;
    padding: 0.25 0;
}


/*
style all a tags in header
and then on hover
*/
.navbar-links a {
    color: #B7D6DC;
    background-color: #A56C6C;
    font-size: 1.2rem;
    padding: .5rem .85rem;
    letter-spacing: 2px;
    text-decoration: none;
    display: inline-block;
}

.navbar-links a:hover, .navbar-links a:focus {
    filter: invert(1);
    border-radius: 10px;

}



/*
media query for non-mobile nav bar
min-width set to width of nav elements
such that no text wraps
*/